html {
  box-sizing: border-box;
}

html, body, #root {
  padding: 0px !important;;
  margin: 0px !important;;
  min-height: 100vh;
  min-width: 100vw;
}
*, *:before, *:after {
  box-sizing: inherit;
}
